
* {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    position: relative;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 100px;
    background-color: #15F5BA;
    padding-inline: 10wv;
    transition: 0.3s;
    z-index: 100;
}

.nav-logo {
    position: relative;
}

.nav-name {
    font-size: 30px;
    font-weight: 600;
    color: blue;
}

.nav-name,
.nav_menu_list{
    display: flex;
    column-gap: -30px;
}

.nav-menu .nav_list {
    list-style: none;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: blue;
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}

.nav-menu-btn {
    display: none;
}

.nav-menu-btn i {
    font-size: 28px;
    cursor: pointer;
}

.active-link {
    position: relative;
    transition: 0.3s;
}

.active-link ::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 2px;
}

.wrapper {
    padding-inline: 10vw;
}

.featured-box {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

.featured-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
    margin-top: 10%;
}

.featured-text .hello {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -20px;
    color: blue;
}

.featured-name {
    font-size: 50px;
    font-weight: 600;
    margin-block: 20px;
    color: blueviolet;
    margin-bottom: 10px;
}

.typedText {
    font-family: sans-serif;
    color: blueviolet;
    font-size: 8px;
    font-weight: 600;
    text-transform: capitalize;
}

.text-info {
    font-size: 16px;
    margin-bottom: 30px;
    color: blue;
}

.text-btn {
    display: flex;
    border-radius: 8px;
    cursor: pointer;
    gap: 20px;
}

.text-btn .btn {
    border: none;
    color: azure;
    box-shadow: 0px 0px 5px;
    padding: 20px;
}


.btn {
    text-decoration: none;
    font-size: 15px;
    padding: 20x;
    cursor: pointer;
    border-radius: 8px;
    background-color: blueviolet;
}

.social_icons {
    display: flex;
    margin-top: 30px;
    margin-left: 5px;
    gap: 32px;
}

.social_icons .a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: blue;
    border-radius: 50%;
    box-shadow: 0px 1px 5px 3px blueviolet;
    cursor: pointer;
}

.a {
    cursor: pointer;
}

.icon_circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.featured-image {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.image img {
    margin-top: 10%;
    width: 500px;
    height: 700px;
    object-fit: cover;
}

.section {
    padding-block: 5em;

}

.row {
    display: flex;
    width: 50%;
    
}

.top-header {
    text-align: left;
    margin-bottom: 5em;
    margin-left: 200px;
}

.top-header h1 {
    font-weight: 600;
    color: blue;
    margin-bottom: 10px;
    
}

.col {
    display: flex;
    justify-content: space-between;
}
.about-info {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 45px 45px;
    padding-inline: 35px;
    border: 2px solid #fff;
    background: transparent;
    box-shadow: 1px 8px 10px 2px;
    border-radius: 20px;
    color: blue;
}

.about-me {
    margin-right: 50px;
}

span {
    color: blue;
}

.skill {
    margin-left: 50px;
    max-width: 600px;
    width: 100%;
    background-image: transparent;
    box-shadow: 1px 8px 10px 2px;
    border-radius: 10px;
    padding-right: 40px;
    

}

.about-info .about-me-btn {
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    font-weight: 500;
}

.skill .skill-box {
    width: 100%;
    margin: 40px;
}

.skill .skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: blue;
}

.skill-box .skill-bar {
    height: 8px;
    width: 70%;
    border-radius: 6px;
    margin-top: 6px;
    margin-top: 6px;
    background-color: rgb(196, 192, 192);
}
.skill-box .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background-color: greenyellow;
}

.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 20px;
    background-color: blueviolet;
    color: white;
}

.project-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.project-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background: transparent;
    border: 2px solid purple;
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px;
    overflow: hidden;
    cursor: pointer;
    color: blue;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 20px 40px;
    width: 100%; 
    margin-left: 50px;
    max-width: 600px;
    width: 100%;
    background-image: transparent;
    box-shadow: 1px 8px 10px 2px;
    border-radius: 10px;
    padding-right: 40px;
    margin-right: 0%;
    cursor: pointer;
    color: blue;

}

.form-button {
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: blueviolet;
    font-weight: 500;
    margin-right: 50px;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
    /* padding-left: 20px; */
}

.input-field {
    width: 100%;
    height:55px;
    background-color: transparent;
    border: 2px solid #6b6565;
    border-radius: 10px;
    outline: none;

}

.input-subject {
    width: 100%;
    height: 55px;
    background: transparent;
    border: 2px solid gray;
    border-radius: 10px;
    padding-inline: 20px;
    margin-bottom: 10px;
    
}

textarea {
    width: 100%;
    height: 100px;
    background: transparent;
    border: 2px solid gray;
    border-radius: 10px;
    outline: none;
    resize: none;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #15F5BA;
}

.middle-footer .footer-menu {
    display: flex;
}

.footer_menu_list {
    list-style: none;
}

.footer_menu_list a {
    text-decoration: none;
    color: blue;
    font-weight: 500;
    margin-inline: 20px;
}

.footer-social-icons {
    display: flex;
    gap: 30x;
    color: blue;
}

.botton-footer{
    font-size: 140px;
    margin-top: 10px;
    color: blue;
}




/* media query = 1024px*/

@media only screen and (max-width: 1024){
    .featured-text {
        padding: 0;
    }
}

.image,
image img {
    width: 320px;
    height:320px
}


/* media query =480px */

@media only screen and (min-width: 480){
    .nav-menu-btn {
        display: none;
    }
    .nav-menu {
        position: fixed;
        top: 0;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: pink;
        width: 300px;
        min-height: 450px;
        border-radius: 0px 30px 0px 30px;
    }

    .nav_menu_list {
        flex-direction: column;
    }

    .nav-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .featured-box {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    .featured-text {
        width: 100vh;
        justify-content: center;
        order: 2;
        align-content: flex-start;
        min-height: 60vh;
    }

    .social_icons {
        margin-top: 2em;
    }

    .featured-image {
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }
    
    .image,
    .image img {
        width: 150px;
        height: 150px;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px
    }

    .col {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-info,
    .contact-info{
        width: 100%;
    }

    .project-container {
        justify-content: center;
    }

    .project-box {
        width: 80%;
    }
    
    .mode {
        display: flex;
        align-items: center;
        margin-left: 60%;
    }

}






